src/__pycache__/Server.cpython-310.pyc
src/__pycache__/Password_Gen.cpython-310.pyc
src/__pycache__/client.cpython-310.pyc
__pycache__/UserHandler.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc

__pycache__/commands.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc

__pycache__/Kernel.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
UserList.csv
__pycache__
__pycache__/client.cpython-39.pyc
__pycache__/Server.cpython-39.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/commands.cpython-310.pyc

UserList.csv
.DS_Store
src/__pycache__
FTU.csv
UserList.csv
src/__pycache__/client.cpython-39.pyc
.gitignore
pyrad.log
src/__pycache__/Server.cpython-39.pyc
src/__pycache__/Server.cpython-39.pyc
src/__pycache__/client.cpython-39.pyc
src/history.log
src/history.log
Error_Logger/errors.log
Kernel/src/history.log
Kernel/flags.py
MakroPropiatery.json