__pycache__
__pycache__/UserHandler.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/Makro.cpython-310.pyc
__pycache__/Makro.cpython-310.pyc
__pycache__/Makro.cpython-310.pyc
__pycache__/Makro.cpython-310.pyc
__pycache__/Makro.cpython-310.pyc
__pycache__/client.cpython-39.pyc
__pycache__/Server.cpython-39.pyc
Makro/CryptographyKit/decrypt.py
Makro/ErrorLoggingKit/errors.log
Makro/src/CallGraph.png
Makro/src/history.log
MakroPropiatery.json
Password.txt
.DS_Store
Info.json
.vscode
.idea
Github_screenshots
test.py
Makro/users