__pycache__/UserHandler.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/commands.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/Kernel.cpython-310.pyc
__pycache__/client.cpython-39.pyc
__pycache__/Server.cpython-39.pyc
Kernel/src/history.log
MakroPropiatery.json
__pycache__
.DS_Store
Info.json